<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <h3>User:</h3>
    <h4 th:text="${user.getUsername()}" ></h4>
    <h4 th:text="${user.getEmail()}" ></h4>
    <h4 th:text="${user.getAddress()}" ></h4>
    <h4 th:text="${user.getAge()}" ></h4>
    <br>
    <h5 th:text="${user.getData()}" ></h5>

    <form th:method="DELETE" th:action="@{/users/{id}/delete(id=${user.getId()})}">
        <input type="submit" value="Delete user"/>
    </form>

    <hr/>

    <form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
        <input type="submit" value="Edit"/>
    </form>

    <hr/>

    <form th:method="GET" th:action="@{/users}">
        <input type="submit" value="Return"/>
    </form>
</body>
</html>